{% extends "layout.html" %}

{% block title %}Dashboard &mdash; {{ super() }}{% endblock %}

{% block main %}

    <div class="module sidebar">
        <h2>Organizations</h2>
        <ul class="nav bubble-list">
            {% for org in my_organizations %}
                <li><a class="bubble" href="/{{ org.pk }}">{{ org.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="module main">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="snippet">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
        <h2>Your Recent Snippets</h2>
        {% include "partials/snippet_list.html" %}
    </div>

{% endblock %}
