{% extends "layout.html" %}

{% block main %}
    <div class="module">
        <h2>New Snippet</h2>
        <form method="POST" action="" class="new-snippet">
            {{ form.csrf }}
            <div class="form-row">
                <p>{{ form.lang() }}</p>
            </div>
            <div class="form-row">
                <p>{{ form.text(rows=20) }}</p>
            </div>
            <div class="form-row">
                <p><input type="submit" value="Submit"></p>
            </div>
        </form>
    </div>
{% endblock %}