{% if snippets %}
<ul>
    {% for snippet in snippets %}
    <li>
        <div class="snippet snippet-short clearfix">
            <p class="text">{{ snippet.text|truncate(length=150)|colorize(snippet.lang)|safe }}</p>
            <p class="info">
                Posted by
                <span class="user">{{ snippets_users[snippet.user].name }}</span>
                from
                <span class="org"><a href="{{ url_for('list_snippets', org=snippet.org) }}">{{ snippets_orgs[snippet.org].name }}</a></span>
            </p>
            <a href="{{ url_for('snippet_detail', id=snippet.pk, org=snippet.org) }}" class="row-link"></a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="notice">
    No recent snippets
</p>
{% endif %}
