{% extends "layout.html" %}

{% block title %}{{ org.name }} &mdash; {{ super() }}{% endblock %}

{% block main %}

    <div class="main">
        {% block main_inner %}
            <div class="module">
                <h2>{{ org.name }}</h2>
                <dl>
                    <dt>Owner:</dt>
                    <dd>{{ org.get_owner().name }}</dd>
                    <dt>Domain:</dt>
                    <dd>{% if org.domain %}{{ org.domain }}{% else %}<em>none</em>{% endif %}</dd>
                    <dt>Default Language:</dt>
                    <dd>{% if org.lang %}{{ org.lang }}{% else %}<em>none</em>{% endif %}</dd>
                </dl>
                <h3>Members</h3>
                <ul class="member-list">
                    {% for member in org.get_all_members() %}
                        <li><a href="#">{{ member.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}
