{% extends "organizations/details.html" %}

{% block title %}{{ snippet.pk }} &mdash; {{ super() }}{% endblock %}

{% block main %}
    <div class="module">
        <ul class="action-list">
            <li><a href="{{ url_for('snippet_detail_raw', org=org.pk, id=snippet.pk) }}" class="button">Raw</a></li>
            {% if g.user.pk == snippet.user %}
                <li><a href="{{ url_for('edit_snippet', org=org.pk, id=snippet.pk) }}" class="button">Edit</a></li>
                <li><a href="{{ url_for('delete_snippet', org=org.pk, id=snippet.pk) }}" class="button">Delete</a></li>
            {% endif %}
        </ul>
        <h2>{% if snippet.name %}{{ snippet.name }}{% else %}{{ snippet.lang }} Snippet{% endif %}</h2>
        <div class="snippet clearfix">
            <div class="text">
                {{ snippet.text|colorize(snippet.lang) | safe }}
            </div>
            <p class="info">
                Posted by
                <span class="user">{{ snippet.get_user().name }}</span>
                from
                <span class="org"><a href="{{ url_for('list_snippets', org=snippet.org) }}">{{ org.name }}</a></span>
            </p>
        </div>
    </div>
{% endblock %}
