{% extends "layout.html" %}

{% block title %}{{ snippet.pk }} &mdash; {{ super() }}{% endblock %}

{% block main %}
    <div class="module">
        <h2>{{ snippet.lang }} Snippet <strong><a href="{{ url_for('organizations.list_snippets', org=org.pk) }}">{{ org.name }}</a></strong></h2>
        <div class="snippet clearfix">
            <div class="text">
                {{ snippet.text|colorize(snippet.lang) | safe }}
            </div>
            <p class="info">
                Posted by
                <span class="user">{{ snippet.get_user().name }}</span>
                from
                <span class="org"><a href="{{ url_for('organizations.list_snippets', org=snippet.org) }}">{{ org.name }}</a></span>
            </p>
        </div>
    </div>
{% endblock %}
