{% extends "layout.html" %}

{% block title %}{{ snippet.pk }} &mdash; {{ super() }}{% endblock %}

{% block main %}
    <div class="module">
        <h2>{{ snippet.lang }} Snippet <strong>{{ snippet.org }}</strong></h2>
        <div class="snippet">
            {{ snippet.text|colorize(snippet.lang) | safe }}
            <p class="info">
                Posted by
                <span class="user">{{ snippet.get_user().name }}</span>
                from
                <span class="org"><a href="{{ url_for('list_snippets', org=snippet.org) }}">{{ org.name }}</a></span>
            </p>
        </div>
    </div>
{% endblock %}
