{% extends "organizations/details.html" %}

{% block title %}{{ org.name }} &mdash; {{ super() }}{% endblock %}

{% block main %}
    <div class="main">
        {% block main_inner %}
            <div class="module">
                <ul class="action-list">
                    <li><a href="{{ url_for('org_details', org=org.pk) }}" class="button">Details</a></li>
                    {% if g.user.can_admin_org(org) %}
                        <li><a href="{{ url_for('edit_org', org=org.pk) }}" class="button">Edit</a></li>
                    {% endif %}
                </ul>
                <h2>{{ org.name }}</h2>
                {% include "partials/snippet_list.html" %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
