{% extends "layout.html" %}

{% block title %}Edit Profile &mdash; {{ super() }}{% endblock %}

{% block content %}
    <div class="module">
        <h2>Edit Profile</h2>
        <p>Register a new organization to start sharing code with your team.</p>
        <form method="POST" action="" class="new-organization">
            {{ form.csrf }}
            <div class="form-row">
                {{ form.name.label }}
                <span class="field">{{ form.name(placeholder='Your display name', size=50) }}</span>
                {% if form.name.errors %}
                    <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="form-row">
                <p><input type="submit" value="Submit"></p>
            </div>
        </form>
    </div>
{% endblock %}
