{% extends "layout.html" %}

{% block title %}Edit Profile &mdash; {{ super() }}{% endblock %}

{% block content %}
    <div class="module">
        <h2>Edit Profile</h2>
        <p>Register a new organization to start sharing code with your team.</p>
        <form method="POST" action="" class="new-organization">
            {{ form.csrf }}
            <div class="form-row">
                {{ form.name.label }}
                <span class="field">{{ form.name(placeholder='Your display name', size=50) }}</span>
                {% if form.name.errors %}
                    <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="form-row">
                <label>API token</label>
                <span class="field"><input type="text" size="50" readonly="readonly" onfocus="this.select" value="{{ g.user.api_token }}"></span>
                <span class="field"><label>{{ form.update_token() }} Regenerate API token</label></span>
                {% if form.update_token.errors %}
                    <ul class="errors">{% for error in form.update_token.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="form-row">
                <p><input type="submit" value="Submit"></p>
            </div>
        </form>
    </div>
{% endblock %}
