{% extends "layout.html" %}
{% block main %}
<div>
    <p>
        Click here to grant Yammer access to this application. Copy the
        code and paste it back here.
        <a href="{{ url }}" target="_blank">Grant Access</a>
    </p>
</div>
<div>
    <form method="POST" action="/{{ org }}/verify/confirm">
            {{ form.csrf }}
            <div class="form-row">
                <label for="code">
                    Enter Code Here
                    <input type="text" name="code" />
                </label>
                <input type="submit" value="Confirm Code">
            </div>
    </form>
</div>
{% endblock %}
