{% extends "layout.html" %}

{% block title %}Login &mdash; {{ super() }}{% endblock %}

{% block main %}

    <div class="module sidebar">
        <h2>Organizations</h2>
        <ul class="nav bubble-list">
            {% for org in my_organizations %}
                <li><a class="bubble" href="/{{ org.pk }}">{{ org.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="module main">
        
        <form method="POST" action="">
            {{ form.csrf }}
            <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
            <div>{{ form.password.label }}: {{ form.password() }}</div>
            <input type="submit" value="login" />
        </form>
    </div>

{% endblock %}
