/* Reset.css by Eric Meyer: http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0;
font-size: 100%; vertical-align: baseline;
background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
ins { text-decoration: none; }
del {text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0; }

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
.clearfix {display: block;}
* html .clearfix {height: 1%;}
/* end hide from IE-mac */

body {
    font-family: 'helvetica', 'arial', sans-serif;
    font-size: 13px;
}
p, form, table, ul, ol, h1, h2, h3, h4, h5, h6, dl {
    margin-bottom: 15px;
}

dl {
    position: relative;
    padding-left: 150px;
}
dl dt {
    position: absolute;
    left: 0;
    text-align: right;
    width: 140px;
    color: #666;
}
dl dd {
    
}

#container {
}
.wrapper {
    margin: auto;
    position: relative;
    width: 990px;
}

header {
    padding-top: 10px;
    background: #eee;
}

header h1 {
    font-size: 36px;
}

header h1 img {
    display: inline;
    margin-right: 7px;
    height: 33px;
    float: left;
}

header h1 a {
    float: left;
    display: inline;
    text-decoration: none;
    color: #333;
}

header small {
    color: #666;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12px;
}
header small a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

footer {
    font-size: 11px;
    clear: both;
    color: #666;
}

footer .wrapper {
    text-align: right;
    padding: 20px 0 20px;
}

footer a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
}

h2 a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

navigation {
    
}

navigation li {
    display: inline-block;
    position: relative;
}
navigation li a {
    padding: 6px;
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
navigation li:hover > a {
    background: #eee;
}
navigation li ul {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    margin-top: -1px;
    min-width: 120px;
    z-index: 1000;
}
navigation li:hover ul {
    display: block;
    padding: 3px;
}
navigation li ul li {
    display: block;
    margin-right: 0;
    padding: 0;
}
navigation li ul li a {
    padding: 3px;
}
navigation li ul li.selected a {
    text-decoration: underline;
}
navigation li ul li a:hover {
    background: #eee;
}

navigation #search {
    position: absolute;
    right: 0;
}


.module {
    margin: 0 0 20px;
    line-height:18px;
}

.notice {
    margin: 15px 0 15px 0;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .2);
    background-color: #fff;
    position: relative;
}

.snippet {
    margin: 15px 0 15px 0;
    padding: 15px 15px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    border: #eee 1px solid;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .2);
    background-color: #fff;
    position: relative;
}

.snippet .info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    font-size: 11px;
    background-color: #efefef;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    
}

.snippet .info a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.snippet .info a:hover {
    text-decoration: underline;
}

.new-snippet textarea,
.new-snippet input[type=text] {
    display: block;
    width: 100%;
    border: 1px solid #aaa;
    padding: 2px;
}


.bubble {
    display: inline-block;
    padding: 5px;
    background: #efefef;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.bubble:hover {
    background-color: #ccc;
}

.bubble-list {
    margin-top: 15px;
}

.snippet-info {
    margin-top: 15px;
}

.snippet-info {
    font-size: 12px;
    line-height: 16px;
}

.snippet-info td {
    padding-bottom: 10px;
}

.snippet-info .label {
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
}
.highlighttable { width: 100%; }


/** forms **/

.form-row {
    margin-bottom: 10px;
}
.form-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-row .field {
    display: block;
}
.form-row .helptext {
    color: #999;
}

.row-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.member-list {
    list-style: square;
    margin-left: 20px;
}