{% extends "layout.html" %}

{% block title %}{{ org.name }} &mdash; {{ super() }}{% endblock %}

{% block main %}

    <div class="module sidebar">
        <h2>Members</h2>
        <ul class="faces">
            <li><a href="/disqus">zeeg</a></li>
            <li><a href="/disqus">zeeg</a></li>
            <li><a href="/disqus">zeeg</a></li>
            <li><a href="/disqus">zeeg</a></li>
            <li><a href="/disqus">zeeg</a></li>
        </ul>
    </div>
    <div class="module main">
        <h2>{{ org.name }}</h2>
        {% include "partials/snippet_list.html" %}
    </div>

{% endblock %}
